body {
    padding: 20px;
    font: normal 14px/1.2 Arial, sans-serif;
}
ul {
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
}
.hidden {
    display: none;
}
.wrapper {
    overflow: hidden;
}


/**************/
/* Names list */
.names {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 300px;
    float: left;
    margin-right: 2px;
}
.names li {
    background: #00BCD4;
    margin: 0 0 1px 0;
    padding: 10px;
    color: #fff;
    cursor: pointer;
    display: block;
}

/***************/
/* Scores list */
.scores {
    width: 80px;
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
    margin-right: 30px;
}
.scores li {
    margin: 0 0 1px 0;
    padding: 10px 0;
    color: #fff;
    cursor: pointer;
    display: block;
    background: #727272;
    text-align: center;
}
.scores span {
    pointer-events: none;
}
.score-input {
    width: 35px;
    height: 9px;
    text-align: center;
}

/***********/
/* Profile */
.profile {
    float: left;
    width: 200px;
    background: #448AFF;
    padding: 0 10px;
    text-align: center;
}
.profile img {
    display: block;
    margin: 10px auto 10px;
}
.profile h3 {
    margin: 0 0 10px;
}

/***********/
/* Sorting */
.sort-controls {
    border: 2px solid #CFCFCF;
    width: 382px;
    box-sizing: border-box;
}
.sort-controls li {
    box-sizing: border-box;
    display: inline-block;
    padding: 15px 5px;
    position: relative;
    cursor: pointer;
}

.sort-name {
    width: 294px;
}
.sort-score {
    width: 80px;
    border-left: 2px solid #CFCFCF;
}

.sort-controls li::before {
    content: '';
    position: absolute;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-bottom: 8px solid #727272;
    top: 13px;
    right: 10px;
}
.sort-controls li::after {
    content: '';
    position: absolute;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-top: 8px solid #727272;
    bottom: 13px;
    right: 10px;
}
.sort-controls li.ascending::before {
    border-bottom-color: #00BCD4;
}
.sort-controls li.descending::after {
    border-top-color: #00BCD4;    
}
.sort-controls li.ascending.hide::after,
.sort-controls li.descending.hide::before {
    display: none;
}