$backgroundColorBody: #dcbb9a;
$backgroundColorBrief: #fadcba;
$backgroundColorContent: #ffffff;
$headingColor: #893c00;
$borderImgColor: $headingColor;
$textColor: #000000;
$linkColor: #3d70a1;
$tableHeadColor: #808080;
$tableBodyColor: #fff;
$submitTextColor: #e0e0e0;

$widthBrief: 35%;
