$backgroundColorBody: rgba(198, 238, 252, 0.53);
$backgroundColorContent: #3b3b3b;
$backgroundColorBrief: #fff178;
$headingColor: #fccd10;
$borderImgColor: $headingColor;
$linkColor: #f5c70f;
$tableHeadColor: #94a34e;
$tableBodyColor: #677d01;
$submitTextColor: #fccd10;
$textColor: #fff;

$widthBrief: 97%;
